/***************CSS Reset************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited, a:hover, a:focus{
	text-decoration: none;
}
button, button:focus, button:active{
	border: none;
	outline: none;
}
input{
	outline: none;
}
/************************FONTS***********************/
@font-face {
    font-family: AA-BebasNeue; /* Имя шрифта */
    src: url(Fonts/AA-BebasNeue.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: DroidSerif-Regular; /* Имя шрифта */
    src: url(Fonts/DroidSerif-Regular.ttf); /* Путь к файлу со шрифтом */
}
/************************OTHERS**********************/
body{
	font-family: AA-BebasNeue;
	font-size: 16px;
}
#background-video{
	position: fixed;
  	min-width: 100%; 
  	min-height: 100%;
  	top: 0;
  	left: 0;
  	right: 0;
  	width: auto; 
  	height: auto;
  	z-index: -100;
}
.wrapper{
	max-width: 1400px;
	margin: 0 auto;	
}
.section{
	background: #fff;
	width: 100%;
	margin-bottom: 500px;
}
.section-title{	
	text-align: center;
	margin-bottom: 60px;
	opacity: 0;
	transform: translateY(30px);
	transition: transform .5s, opacity .5s;
}
	.section-title--showed{
		opacity: 1;
		transform: translateY(0);
	}
	.section-title__text{
		font-size: 80px;
		background: linear-gradient(to right,  #FBD11A, #FBD11A);
		background-size: 100% 22px;
		background-repeat: repeat-x;
		background-position: bottom;
	}
.section-desc{
	font-size: 22px;
	line-height: 40px;
	text-align: center;
	font-family: DroidSerif-Regular;
	margin-bottom: 60px;
	opacity: 0;
	transform: translateY(30px);
	transition: transform .5s, opacity .5s;
}
	.section-desc--showed{
		opacity: 1;
		transform: translateY(0);
	}
.section-button{
	font-size: 22px;
	text-align: center;
	background: #FBCC00;
	border-radius: 4px;
	font-family: AA-BebasNeue;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	padding: 15px 30px;
	transition: background .5s;
}
	.section-button:hover{
		background: #ffe900;
	}
/************************HEADER**********************/
.m-wrapper--header{
	padding: 4% 0 3%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}
		
.b-header{
	height: 100vh;
	background-color: rgba(251,204,0,.9);
	transition: background-color 1s;
	margin-bottom: 500px;
}
	.b-header__logo{
		display: block;
		height: 85px;
		width: 120px;
		margin: 0 auto;
	}


	.b-header__title{
		margin: 0 auto;
		text-align: center;

	}
		.m-header__title--sup{
			font-size: 95px;

		}
		.m-header__title--sub{
			font-size: 134px;
		}
	.b-header__scroll-down{
		font-family: DroidSerif-Regular;
		font-size: 13px;
		color: #525252;	
	}
		.b-header__scroll-down__arrow{
			height: 40px;
			box-sizing: border-box;
			text-align: center;
			padding: 8px 0 0;
		}
		#svg-arrow{
			height: 100%;
		}
		.m-header--anim-text{
			transition: color 1s;
		}
		.m-header--anim-svg{
			transition: fill 1s;
		}
		#svg-arrow--path{
			transition: stroke 1s;
		}

/*********************MAIN*************************/
.m-wrapper__section--acknowleding{
	padding: 140px 300px 80px;
}
.m-wrapper__section--who-we-are{
	padding: 235px 300px 225px;
}		